.inspector {
  margin-top: var(--spacing-l);
}

.container {
  display: flex;
  flex-direction: column;
}

.helperContainer {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
